* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: medium;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

body{
  background-color: #181818;
  color: #fff;
}
section{
  height: 100vh;
}

.bubble-text{
  background:#139ee0;
  color:#fff;
  padding:7px 15px;
  border-radius: 3px;
  padding: 2rem;
  margin-top: 2rem;
  width: fit-content;
}

.bubble-text::before{
  content:""; 
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom: 20px solid #139ee0;
  top: -4em;
  left: 45%;
  position: relative;
  }

.details{
  display: grid;
  justify-content: center;
  padding: 5rem;
}

.details p{
  width: 40rem;
}

.details img{
  background-color: #139ee0;
  position: relative;
  left: 30%;
}

.links{
  display: grid;
  justify-content: left;
  padding: 1rem;
  max-width: fit-content;
  max-height: fit-content;
  background-color: transparent;
  position: fixed;
}

.buttons{
  padding: 1rem;
  margin: 0.5rem;
}

.story-button{
  margin: auto;
  padding: 1rem;
}

.text-h1{
  font-size: 2rem;
}

span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.grid-center-padding5rem{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

a{
  text-decoration: none;
  background-color: #fff;
  padding: 1rem;
  margin: auto;
  border: 1px solid #0000;
  border-radius: 3px;
  color: #181818;
}

.story-container{
  background-color: grey;
  display: grid;
  margin: 1rem;
  padding: 5rem;
  height: 75vh;
  width: 190vh;
 
}

.letterhead{
  display: flex;
  justify-content: space-between;
}

.letterhead-child{
  background-color: #fff;
  color: #181818;
  padding: 1rem;
  margin: 1rem;
}

.compartment-3{
  background-color: #fff;
  color: #181818;
}

p.frame{
  padding: 0.5rem;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border:solid 2px black;
}