* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: medium;
  background-color: #25362C;
  color: #9CE0BF ;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links{
  display: grid;
  justify-content: left;
  margin: 1rem;
}